<h1>Stupid coaching</h1>
<div class="question">
  <p><%= @q %></p>
  <p><i>- You </i></p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p><i>- Your coach</i></p>
</div>
<%= link_to "Ask again", ask_path %>
